<h5>Contact Me</h5>

<br><br>

<input type="text" [(ngModel)]="nomeDigitado" class="form-control" placeholder="Insira seu nome completo">
<div class="input-group mb-3">
  <input type="text" [(ngModel)]="emailDigitado" class="form-control" placeholder="Insira seu Email">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">@</span>
      <select class = "form-control" id="email" nome = "email" >
        <option value="1">hotmail.com</option>
        <option value="2">gmail.com</option>
      </select>
    </div>
</div>
<input type="tel" tel = "phone_num" placeholder="(XX) XXXXX - XXXX" pattern = "[\(]\d{2}[\)]\d{5}[\-]\d{4}" required>
<br>

<p *ngIf="nomeDigitado">{{nomeDigitado}}</p>
<p *ngIf="emailDigitado">{{emailDigitado}}@example.com</p>



<button type="button" class="btn btn-light" (click)="updateContactList()">Submit</button>

<div class="col">
  <p *ngFor ="let contact of contactList">{{contact}}</p>
</div>
 
