h1{
    text-align: center;
    color: floralwhite;
}
h2{
    text-align: center;
    color: floralwhite;
}
h3{
    text-align: center;
    color: floralwhite;
}
h4{
    text-align: center;
    color: floralwhite;
}
h5{
    text-align: center;
    color: floralwhite;
}
h6{
    text-align: center;
    color: floralwhite;
}

